* {
    font-family: "Irish Grover", system-ui;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
}

.main {
    display: flex;
    margin: 0px auto;
    justify-content: center;
    border: solid 1px;
    width: 20%;
    height: 650px;
}

.container {
    position: relative;
}

.container img {
    width: 100%;
    height: 100%;
}


/*--------Page2-----*/

.main1 {
    margin: 0px auto;
    justify-content: center;
    border: solid 1px;
    width: 20%;
    height: 650px;
    background-color: #F8E1CB;
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.buttons button {
    cursor: pointer;
    margin: 15px;
    padding: 5px 30px;
    background-color: #BA6A3D;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    box-shadow: 1px 1px 5px black;
}

.facebook button {
    margin: 20px;
    padding: 5px 20px;
    background-color: #D6ECE9;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    box-shadow: 1px 1px 5px black;
}

.facebook img {
    padding: 0px 20px 0px 0px;
    width: 8%;
}

.page2 img {
    width: 100%;
}


/*-----------page3---------*/

.page3-contant p {
    font-size: 28px;
    text-align: center;
    line-height: 30px;
}

.input {
    margin: 100px 0px;
}

.input input {
    display: block;
    color: black;
    width: 60%;
    border: none;
    border-bottom: solid 2px black;
    margin: 0px auto;
    margin-top: 40px;
    background-color: #F8E1CB;
}

.input span {
    display: flex;
    color: #F11E37;
    justify-content: flex-end;
    padding-right: 50px;
    padding-top: 10px;
    font-size: 12px;
    cursor: pointer;
}

.input input[type="submit"] {
    font-size: 20px;
    background-color: #BA6A3D;
    border: none;
    padding: 2px 50px;
    border-radius: 30px;
}

.input p {
    text-align: center;
    font-size: 13px;
}

.input p a {
    color: #F11E37;
}


/*------------------ Page4 CSS ---------------*/

.map-image img {
    width: 100%;
}

.des1
{
    padding: 0px 20px;
}

.location {
    display: flex;
    text-align: center;
}

.l1,
.l2 {
    display: flex;
    text-align: center;
}

.l1 img,
.l2 img {
    width: 30px;
    height: 30px;
}

.l1 p,
l2 p {
    font-size: 12px;

}

.des1 button{
    background-color: #D9D9D9;
    border: none;
    margin-top: 10px;
    padding: 5px 20px;
    box-shadow: 0 0 5px black;
    font-size: 15px;
    display: block;
    margin: 0px auto;
    border-radius: 30px;
}

/*-------------------------page5--------------------*/

.page5{
    width: 86%;
    background-color: #F5DAC0;
    padding: 50px 20px;
}

.menu
{
    background-color: #D9D9D9;
    display: block;
    margin: 0px auto;
    width: 35%;
    border: solid 1px;
    border-radius: 30px;
    text-align: center;
    padding: 5px 30px;
    font-size: 15px;
}

.menu button{
    background-color: #D9D9D9;
    border:none;
}

.coffee-menu{
    padding-top: 40px;
}

.coffee-menu div{
    display: flex;
    width: 60%;
    height: 30px;
    background-color: #D9D9D9;
    padding: 10px 30px;
    box-shadow: 0 0 5px black;
    border-radius: 30px;
    margin: 30px;
}

.coffee-menu img{
    height: 30px;
    aspect-ratio: 3/2;
    object-fit: contain;
    
}

.coffee-menu p
{
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
}

/*------------------page 6-----------------*/

.pereference{
    display: block;
    margin: 0px auto;
    height: 30px;
    width: 60%;
    background-color: #D9D9D9;
    padding: 0px 30px;
    box-shadow: 0 0 5px black;
    border-radius: 30px;
}

.pereference p
{
    padding-left: 20px;
    font-size: 20px;
}

.cappacino img{
    mix-blend-mode: color-burn;
    padding-top: 20px;
    width: 100%;
}

.capp1{
    display: flex;
    margin-top: 30px;
}

.capp1 p{
    font-size: 20px;
    padding-left: 30px;
}

.capp1 span{
    color:red;
    margin: 10px;
}

.capp2{
    display: flex;
}

.capp2 p{
    font-size: 30px;
    padding-left: 30px;
}

/*-----------------Page 8 CSS-------------------*/

.page8{
    width: 100%;
    background-color:#F5DAC0 ;
}
.order{
    display: block;
    margin: 40px auto;
    height: 30px;
    width: 50%;
    background-color: #D9D9D9;
    padding: 0px 30px;
    box-shadow: 0 0 5px black;
    border-radius: 30px;
}

.order p{
    text-align: center;
    font-size: 20px;
}

.div1
{
    display: flex;
    padding: 0px 30px;
}

.div1 img
{
    width:30%;
    margin: 10px;
    mix-blend-mode: color-burn;
}

.div1 p{
    text-align: center;
    margin: 20px 0px;
}

.capp3{
    display: flex;
    justify-content: space-between;
    font-size: 30px;  
    padding: 30px;
}


.bottom1{
    margin-top: 150px;
    text-align: center;
}

.back img{
    position: absolute;
    top: 7%;
    left: 41%;
}